@import "../utils/variables.scss";

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.empty {
    width: 130px;
}