@import "../utils/variables.scss";


.h1categs {
  background-color: $primary-color;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: $white;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
}

// Contenedor de categorías
.categContainer {
  color: $gold;
  background-color: $purple;
  display: flex;
  padding: 80px;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px; 
}

// Contenedor individual de cada categoría
.categoriaContainer {
  flex: 1;  
  margin: 0 10px;  
  padding: 20px;  
  text-align: center;  
  background-color: $secondary-color;
  border-radius: 14px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column;  
  justify-content: space-between;  
  height: 100%;  

 
  &:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); 
    background-color: darken($secondary-color, 5%); 
  }


  h2 {
    font-size: 1.5rem;
    color: $white;
    margin-bottom: 10px;
  }

  
  p {
    font-size: 1rem;
    color: $white;
    margin-bottom: 20px;
  }


  .imgCateg {
    width: 100%;  
    height: 200px; 
    object-fit: cover;
    border-radius: 5px; 
    margin-bottom: 15px; 
  }

 
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: $gold; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($purple, 10%); 
    }
  }
}


.categoriaContainer a {
  text-decoration: none;  
}


.categoriaContainer:hover {
  background-color: darken($secondary-color, 10%);
}

