
.hamburger-menu {
    position: relative;
  }
  
  .hamburger-icon {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .bar {
    width: 50px;
    height: 4px;
    background-color: #333;
    transition: transform 0.3s ease;
  }
  
  .hamburger-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .hamburger-icon.open .bar:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  .nav-menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .nav-menu.open {
    opacity: 1;
    visibility: visible;
  }
  
  .nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    padding: 15px 0;
  }
  
  .nav-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    display: block;
  }
  
  .nav-menu ul li a:hover {
    background-color: #444;
  }
  